Source: ros-indigo-cob-vision-utils
Section: misc
Priority: extra
Maintainer: Jan Fischer <jsf@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, libtinyxml-dev, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-roscpp, ros-indigo-visualization-msgs
Homepage: http://wiki.ros.org/cob_vision_utils
Standards-Version: 3.9.2

Package: ros-indigo-cob-vision-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, libtinyxml-dev, ros-indigo-roscpp, ros-indigo-visualization-msgs
Description: This package contains utilities used within the cob_object_detection toolchain.
