Source: ros-hydro-cob-perception-msgs
Section: misc
Priority: extra
Maintainer: Richard Bormann <rmb@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-sensor-msgs
Homepage: http://wiki.ros.org/cob_perception_msgs
Standards-Version: 3.9.2

Package: ros-hydro-cob-perception-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-sensor-msgs
Description: This package contains the cob_perception_msgs.
